@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@600&display=swap');
html, 
body {
margin: 0;
padding: 0;
box-sizing: boarder-box;
font-family: 'Poppins', sans-serif;
background-color: #1a1a1a;
}

main {
width: 120vw;
height: 120vh;
color: #333;
}   

.icon-bar {
width: 150%;
background-color: #333;
overflow: auto;
}

.icon-bar a {
float: left;
width: 15%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}

.icon-bar a:hover {
background-color: #000;
}

.active {
background-color: #333;
}

.main-page {
padding: 3%;
}

.row {
display: flex;
}

.imba {
font-size: 35;
background-color: #333;
color: white;
border-radius: 15px;
}  

.col-2 img {
border-radius: 10%;
position: absolute;
top: 75%;
bottom: 0;
width: 700px;
border: 5px solid black;
}

.col-5 img {
border-radius: 10%;
position: absolute;
top: 75%;
bottom: 0;
left: 75%;
right: 0;
width: 700px;
border: 5px solid black;
}

.footer {
position: absolute;
bottom: -40%;
left: 0;
right: 0;
color: white;
margin-top: 150px;
width: 85%;
padding: 20px 40%;
background-color: #333;
color: #efefef;
display: flex;
}

.footer div {
text-align: center;
}

.col-2 {
flex-grow: 2;
}

.footer div h3 {
font-weight: 300;
margin-bottom: 30px;
letter-spacing: 1px;
}

.col-1 a {
display: block;
text-decoration: none;
color: #efefef;
margin-bottom: 10px;
}

form input {
width: 400px;
height: 45px;
border-radius: 4px;
text-align-last: center;
margin-top: 20px;
margin-bottom: 40px;
outline: none;
border: none;
}

form button {
background: transparent;
border: 2px solid #fff;
border-radius: 30px;
color: #fff;
padding: 10px 30px;
font-size: 15px;
cursor: pointer;
}

.socials {
margin-top: 30px;
}

.socials i {
font-size: 35px;
margin: 10px;
cursor: pointer;
}

.proof1 img {
border-radius: 10%;
position: relative;
bottom: 50%;
top: 50%;
left: 10%;
right: 0;
width: 750px;
height: 50%;
margin-top: 50px;
margin-bottom: 35px;
border: 5px solid black;
}

.proof1 h3 {
font-size: 50px;
color: #F2F2F2;
align-items: center;
justify-content: center;
text-align: center;
}

.proof1 center a {
color: #F2F2F2;
font-size: 30px;
}

.proof2 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.proof3 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.proof4 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.proof5 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.proof6 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.proof7 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.proof8 img {
border-radius: 10%;
position: absolute;
bottom: 100%;
top: 0;
left: 50%;
right: 50%;
width: 600px;
height: 30%;
border: 5px solid black;
}

.contact {
width: 100%;
height: 100wh;
}

.contact h1 {
margin: 50px 0;
}

.contact-container {
display: flex;
color: white;
align-items: center;
flex-direction: column;
justify-content: center;
}

.contact-container form {
border-radius: 10px;
display: flex;
padding: 15px;
margin: auto;
border: 1px solid #000;
flex-direction: column;
gap: 10px;
width: 1100px;
align-items: center;
justify-content center;
background-color: #333;
box-shadow:
0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:
blur( 15.5px );
-webkit-backdrop-filter:
blur( 15.5px );
border-radius:
10px;
border:
1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-container form input {
border: none;
outline: none;
padding: 10px;
border-radius: 8px;
width: 450px;
}

.contact-container form textarea {
padding: 10px;
outline: none;
border: none;
width: 450px;
}

.contact-container form button {
border: none;
padding: 10px 15px;
background-color: #F2F2F2;
color: black;
cursor: pointer;
width: 200px;
border-radius: 9px;
font-weight: bold;
transition: 0.5s;
}

.contact-container form button:hover {
margin: 0 15px;
border: none;
border-radius: 15px;
padding: 10px 15px;
background:
rgba( 245, 166, 35, 1 );
box-shadow:
0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:
blur( 15.5px );
-webkit-backdrop-filter:
blur( 15.5px );
border-radius:
10px;
border:
1px solid rgba( 255, 255, 255, 0.18 );
transform: 1.5s;
}

.phone-container h2 {
color: #F2F2F2;
}

.phone {
background-color: #000;
color: white;
}

.phone1 a {
    color: white;
}

.contact .row{

    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#FFF;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.btn {
display: block;
margin: auto;
font-size: 20px;
}

.top{
    position: fixed;
    bottom: 7.5rem; right: 2rem;
    display: none;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

header{
    top: 0; left: 0;
    height: 55%;
    width: 125%;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border:.7rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    padding:1rem 3rem;
}


header .navbar ul li h3{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

.about .row{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color: #FFF;
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: #FFF;
    padding: 0.5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background: #333;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #FFF;
}