@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@600&display=swap');
html, 
body {
margin: 0;
padding: 0;
box-sizing: boarder-box;
font-family: 'Poppins', sans-serif;
}

main {
width: 120vw;
height: 120vh;
color: black;
}   

.icon-bar {
width: 150%;
background-color: #333;
overflow: auto;
}

.icon-bar a {
float: left;
width: 15%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}

.icon-bar a:hover {
background-color: #000;
}

.active {
background-color: #333;
}

.main-page {
padding: 3%;
}

.row {
display: flex;
}

.imba {
font-size: 35;
background-color: #333;
color: white;
border-radius: 15px;
}  

.col-2 img {
border-radius: 50%;
position: relative;
bottom: 100%;
top: 0;
left: 5%;
width: 450px;
border: 5px solid black;
}

.skills {
display: flex;
}

.skills img {
margin: 5px;
width: 1000px;
height: 1000px;
padding: 2%;
border-radius: 10%;
}

.footer {
position: absolute;
bottom: -40%;
left: 0;
right: 0;
color: white;
margin-top: 150px;
width: 100%;
padding: 20px 40%;
background-color: #333;
color: #efefef;
display: flex;
}

.footer div {
text-align: center;
}

.col-2 {
flex-grow: 2;
}

.footer div h3 {
font-weight: 300;
margin-bottom: 30px;
letter-spacing: 1px;
}

.col-1 a {
display: block;
text-decoration: none;
color: #efefef;
margin-bottom: 10px;
}

form input {
width: 400px;
height: 45px;
border-radius: 4px;
text-align-last: center;
margin-top: 20px;
margin-bottom: 40px;
outline: none;
border: none;
}

form button {
background: transparent;
border: 2px solid #fff;
border-radius: 30px;
color: #fff;
padding: 10px 30px;
font-size: 15px;
cursor: pointer;
}

.socials {
margin-top: 30px;
}

.socials i {
font-size: 35px;
margin: 10px;
cursor: pointer;
}

.col-4 img {
width: 100vw;
padding: 3%;
align-items: center;
justify-content: center;
}

.contact {
width: 100%;
height: 100wh;
}

.contact h1 {
margin: 50px 0;
}

.contact-container {
display: flex;
color: white;
align-items: center;
flex-direction: column;
justify-content: center;
}

.contact-container form {
display: flex;
border-radius: 10px;
border: 1px solid #000;
padding: 15px;
flex-direction: column;
gap: 10px;
width: 800px;
align-items: center;
justify-content center;
background-color: #333;
box-shadow:
0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:
blur( 15.5px );
-webkit-backdrop-filter:
blur( 15.5px );
border-radius:
10px;
border:
1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-container form input {
border: none;
outline: none;
padding: 10px;
border-radius: 8px;
width: 300px;
}


.contact-container form textarea {
padding: 10px;
outline: none;
border: none;
width: 300px;
}

.contact-container form button {
border: none;
padding: 10px 15px;
background-color: #F2F2F2;
color: black;
cursor: pointer;
width: 100px;
border-radius: 9px;
font-weight: bold;
transition: 0.5s;
}


.contact-container form button:hover {
margin: 0 15px;
border: none;
border-radius: 15px;
padding: 10px 15px;
background:
rgba( 245, 166, 35, 1 );
box-shadow:
0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:
blur( 15.5px );
-webkit-backdrop-filter:
blur( 15.5px );
border-radius:
10px;
border:
1px solid rgba( 255, 255, 255, 0.18 );
transform: 1.5s;
}

.phone-container h2 {
color: #F2F2F2;
}

.phone {
background-color: #000;
color: white;
}

.phone1 a {
    color: white;
}